.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-h2 {
  text-align: center;
  color: rgb(52, 24, 207);
  font-weight: 600;
  padding-top: 20px;
}
.p {
  color: rgb(52, 24, 207);
}
.contact-p {
  color: rgb(52, 24, 207);
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.6);
}
#contact-text {
  color: rgb(48, 42, 42);
}

#contact-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  box-shadow: -1px 6px 39px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 39px 0px rgba(0, 0, 0, 0.75);
}
.contact-info {
  background-color: rgb(18, 238, 220);
  border-radius: 15px;
  flex: 0 1 40%;
  padding: 40px;
  color: rgb(48, 42, 42);
  display: flex;
  flex-direction: column;
}

.contact-h4 {
  font-size: 1.5rem;
  font-weight: 500;
  //   margin-top: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgb(20, 18, 18);
}

.contact-p {
  font-size: 0.8rem;
  color: rgb(20, 18, 18);
  margin-bottom: 2rem;
  font-weight: 300;
  text-shadow: none;
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.Fa {
  flex: 0 0 20px;
  font-size: 2.2rem;
  margin-right: 0.1rem;
  color: #311de7;
}

span {
  font-size: 1.1rem;
  font-weight: 300;
  margin-left: 2rem;
}

.social-media {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.icon-circle {
  flex: 0 1 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s all ease-in-out;
  &:hover {
    background: #f60606;
  }
}
.fa {
  font-size: 25px;
}

.contactForm {
  // padding: 40px;
  .col {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
  }
  .form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 0 70%;
    padding-right: 20px;
    label {
      font-size: 1.1rem;
      color: rgb(31, 30, 32);
      font-weight: 300;
      margin-bottom: 1rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      color: rgb(19, 3, 3);
      border-bottom: 1px solid rgba(207, 36, 36, 0.7);
      transition: all 0.3s ease-in-out;
      margin-bottom: 3rem;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(207, 36, 36, 0.7);
        color: rgb(12, 2, 2);
      }
    }
    &:nth-last-child(2) {
      // padding-right: 0;
    }
    #radio-buttons {
      display: flex;
      justify-content: space-between;
      .radio-button {
        margin-right: 8px;
        // padding-left: 10px;
        margin-bottom: 2rem;
      }
      label {
        font-size: 0.9rem;
      }
    }
  }
}
