@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Sacramento&display=swap");
.container-fluid {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background: #383236;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(243, 236, 236);
}

.navvy a:hover {
  border-top: 2px solid red;
}
.navvy a:active {
  color: #e91264 !important;
}

.navvy a {
  margin-left: 15px;
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navvy a:active {
  // background-color: greenyellow;
  color: rgb(224, 8, 8);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
  background-color: white !important;
}
