.carouselImage {
  height: 85vh;
  min-height: 270px;
  background: no-repeat center center scroll;
  overflow: hidden;
}

.carousel-caption {
  top: 95px;
  bottom: 50px;
}

.carousel-caption h3 {
  font-size: 50px;
  margin-top: 170px;
  margin-right: 150px;
  text-align: center;
}
